# build folders
bin/
obj/
out/
monitor-ip4-tool/*.db
# user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# logs
*.log


# system
.DS_Store
Thumbs.db

.idea
.vscode

firebase-worker/bin
firebase-worker/obj
firebase-worker/logs

monitor-ipv4-tool/bin
monitor-ipv4-tool/obj
monitor-ipv4-tool/logs

monitor-ipv4-client/bin
monitor-ipv4-client/obj
monitor-ipv4-client/logs
